.chat_messages_main {
    overflow-y: hidden;height: calc(100% - 96px);
    -webkit-order: 0;-ms-flex-order: 0;order: 0;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto;flex: 0 1 auto;
    -webkit-align-self: auto;-ms-flex-item-align: auto;align-self: auto;
}
.chat_messages_content {
    height: 100%;
    overflow-y: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.field_messages {
    padding: 20px 0px;height: 100%;
    display: -ms-flexbox;display: -webkit-flex;display: flex;
    -webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;-webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;flex-wrap: nowrap;-webkit-justify-content: flex-end;-ms-flex-pack: end;justify-content: flex-end;
    -webkit-align-content: flex-start;-ms-flex-line-pack: start;align-content: flex-start;-webkit-align-items: flex-start;
    -ms-flex-align: start;align-items: flex-start;
}
.feed_messages__day {
    height: 50px;padding: 14px 0 0;text-align: center;width: 100%;
}
.feed_messages__day span {
    font-weight: 500;font-size: 12px;line-height: 12px;
}

.message_list {
    border-radius: 11px;overflow: hidden;margin-bottom: 10px;position: relative;
    width: auto;min-width: 150px;max-width: 402px;
}
.message_list.messages__img {
    width: 316px;border: 1px solid #EAEAEA;
}
.message_list.messages__img img {
    max-width: 100%;height: auto;display: block;
}
.message_list.its_messages {
    background: #F8F8F8;
}
.message_list.my_messages {
    background: #E4EDFD;
    -webkit-order: 1;-ms-flex-order: 1;order: 1;
    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto;flex: 0 1 auto;
    -webkit-align-self: flex-end;-ms-flex-item-align: end;align-self: flex-end;
}

.message__time {
    font-weight: 500;font-size: 9px;line-height: 9px;text-align: center;color: #999999;position: absolute;right: 5px;bottom: 5px;
    padding: 2px 5px;border-radius: 30px;
}
.message_list.messages__img .message__time {
    background: rgba(82, 82, 82, 0.5);border-radius: 30px;color: #FFFFFF;
}
.message_list.my_messages .message__time {
    color: #3369F3;
}
.message__delivered {
    position: absolute;bottom: 3px;right: 37px;
}
.message__delivered svg {
    width: 22px;height: auto;
}
.message__readit {
    position: absolute;bottom: 3px;right: 37px;
}
.message__readit svg {
    width: 22px;height: auto;
}

.message {
    padding: 10px 10px 15px;
}
.message_list.messages__img .message {
    padding: 0;
}
.message p {
    font-weight: 500;font-size: 12px;line-height: 15px;margin-bottom: 12px;
}
.message img {}
