@import url(../index.css);
@import url(../components/button.css);
@import url(../components/popup.css);

.profile_main {
    width: 100%;height: 100%;position: fixed;
    display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;-webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;flex-wrap: nowrap;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-align-content: center;-ms-flex-line-pack: center;
    align-content: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;
}
.profile {
    width: 510px;
}
.profile_avatar {
    text-align: center;margin-bottom: 30px;
}
.profile_avatar span {
    width: 130px;height: 130px;border-radius: 50%;overflow: hidden;display: inline-block;
    background: #EFEFEF url("../../img/icon/avatar.svg") center no-repeat;
}
.edit_avatar {
    cursor: pointer;
}
.edit_avatar:hover .avatar_edit {
    opacity: 0.5;
}
.avatar_edit {
    width: 100%;height: 100%;background: #000000;opacity: 0;
    display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;-webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;flex-wrap: nowrap;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-align-content: center;-ms-flex-line-pack: center;
    align-content: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;
}
.avatar_edit p {
    font-weight: 500;font-size: 13px;line-height: 14px;text-align: center;color: #FFFFFF;display: inline-block;
}
.profile_name {
    font-weight: 600;font-size: 16px;line-height: 16px;text-align: center;margin-bottom: 50px;
}
.profile_data {
    margin-bottom: 50px;
}
.profile_line {
    border-bottom: 1px solid #EAEAEA;height: 35px;
    display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-flex-direction: row;-ms-flex-direction: row;
    flex-direction: row;-webkit-flex-wrap: nowrap;-ms-flex-wrap: nowrap;flex-wrap: nowrap;-webkit-justify-content: space-between;
    -ms-flex-pack: justify;justify-content: space-between;-webkit-align-content: stretch;-ms-flex-line-pack: stretch;
    align-content: stretch;-webkit-align-items: center;-ms-flex-align: center;align-items: center;
}
.name_field {
    font-weight: 500;font-size: 13px;line-height: 13px;
}
.value_field {
    font-weight: 500;font-size: 13px;line-height: 13px;text-align: right;
}
.value_field input {
    text-align: right;
}

.change_data {}
.profile_line {}
.profile_line a {
    font-weight: 500;font-size: 13px;line-height: 13px;color: #3369F3;
}
.profile_line a:hover {
    text-decoration: underline;
}
.profile_line:last-of-type {
    border-bottom: none;
}
a.go_out {
    color: #FF0000;
}



.back {
    position: fixed;top:0;left: 0;width: 64px;height: 100%;background: #FBFBFB;z-index: 999999;
}
.back a {
    width: 100%;height: 100%;cursor: pointer;
    display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-flex-direction: row;-ms-flex-direction: row;
    flex-direction: row;-webkit-flex-wrap: nowrap;-ms-flex-wrap: nowrap;flex-wrap: nowrap;
    -webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;align-content: stretch;-webkit-align-items: center;-ms-flex-align: center;
    align-items: center;
}
.back a:hover {
    opacity: 0.85;
}

.profile_btn {
    text-align: center;
}
.profile button.btn {
    width: 280px;
}
